/* Raleway */
/* https://fonts.google.com/specimen/Raleway?query=raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Open Sans */
/* https://fonts.google.com/specimen/Open+Sans?query=open+sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Applies */
.burger-span {
  @apply w-full h-0.75 absolute rounded-lg top-1/2 transform -translate-y-1/2;
}

strong {
  @apply text-blue-900 font-bold lg:font-extrabold !important;
}

strong.type-2 {
  @apply font-bold !important;
}

.grid-area-profile-personal-information {
  grid-template-areas:
    'a a'
    'b c'
    'd d'
    'e e'
    'f f';
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 1024px) {
  .lg\:grid-area-signup {
    grid-template-areas:
      'a a b b b c c c'
      'd d d d e e e e'
      'f f f f g g g g'
      'h h h h i i i i'
      'j j j j j . . .';
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .lg\:grid-area-profile-personal-information {
    grid-template-areas:
      'a a b c'
      'd d e e'
      'f f f f';
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

summary::-webkit-details-marker {
  display: none;
}

input[type='date'] {
  -webkit-appearance: none;
}

html {
  scroll-behavior: smooth;
}
